<h3><%= @restaurant.name %></h1>
<p> <%= @restaurant.address %></p>
<p> <%= @restaurant.category %></p>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
